::-webkit-scrollbar {
    display: none;
}

.app-header {
    /* width: 100%; */
    background-color: #000;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
}

.brandname {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 16px;
    flex: 1 1 0%;
    font-size: 1.5em;
    font-weight: 700;
}

.navbar-button {
    background-color: white;
    /* background-image: url(people.png); */
    color: #000;
    flex-shrink: 0;
    padding: 10px 12px 10px 20px;
    border-radius: 50px;
    /* background-repeat: no-repeat;
    background-position: 10% 50%; */
    font-weight: 700;
}

.user-card {
    padding: 30px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .2);
    border-radius: 10px;
    min-width: 260px;
    max-width: 300px;
    cursor: pointer;
}

.user-card:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, .3);
    transition: 300ms ease;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

/* body {
  background-color: #F0F1F7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
} */

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 3px;
  padding: 30px;
  margin: 10px;
  text-align: center;
  width: 220px;
  max-width: 100%;
}

.card img {
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 75px;
}

.card.active {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.3);
}

.card h4 {
  margin: 10px 0;
}

.card small {
  color: #777;
  display: block;
}

.card button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #999;
  padding: 10px 25px;
  margin-top: 25px;
}

.card.active button {
  background-color: #748DFF;
  border: 0;
  box-shadow: 0px 2px 5px rgba(116, 141, 255, 0.7);
  color: #fff;
}

@media screen and (max-width: 600px) {
  .cards {
    flex-wrap: wrap;
  }
  
  .card.active {
/*    transform: scale(1); */
  }
}

@media (min-width: 900px) {
    .app-header {
        display: flex;
    }
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
/*   visibility: hidden; */
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
