.app-header {
    /* width: 100%; */
    background-color: #000;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
}

.brandname {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 16px;
    flex: 1 1 0%;
    font-size: 1.5em;
    font-weight: 700;
}

.navbar-button {
    background-color: white;
    /* background-image: url(people.png); */
    color: #000;
    flex-shrink: 0;
    padding: 10px 12px 10px 20px;
    border-radius: 50px;
    /* background-repeat: no-repeat;
    background-position: 10% 50%; */
    font-weight: 700;
}

.navbar-button-icon {
    background-image: url(people.png);
    background-repeat: no-repeat;
    background-position: 10% 50%;
}

@media (min-width: 900px) {
    .app-header {
        display: flex;
    }
}