.app-header {
    /* width: 100%; */
    background-color: #000;
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
}

.app-name {
    color: #000000;
}

.link-text {
    color: #000000;
}

.brandname {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 16px;
    flex: 1 1 0%;
    font-size: 1.5em;
    font-weight: 700;
}

@media (min-width: 900px) {
    .app-header {
        display: flex;
    }
}